/* JAI SIYA RAM */

@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-Ultralight;
    src: url(../fonts/Gilroy/Gilroy-UltraLight.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(../fonts/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Gilroy-Ultrabold;
    src: url(../fonts/Gilroy/Gilroy-ExtraBold.ttf);
}

@font-face {
    font-family: Gilroy-Heavy;
    src: url(../fonts/Gilroy/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: Gilroy-Thin;
    src: url(../fonts/Gilroy/Gilroy-Thin.ttf);
}

@font-face {
    font-family: Kajiro;
    src: url(../fonts/Kajiro/Kajiro-Bold.ttf);
}

@font-face {
    font-family: Buttermilk;
    src: url(../fonts/Buttermilk/Buttermilk.ttf);
}

@font-face {
    font-family: jollyLodger;
    src: url(../fonts/Kajiro/Kajiro-Bold.ttf);
}