/* JAI SIYA RAM */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Gilroy-Regular;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    position: relative;
}

.loader {
    position: relative;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader p {
    opacity: .3;
    letter-spacing: 1.5px;
    font-family: Gilroy-Bold;
    font-weight: 100;
    line-height: .9;
    font-size: large;
}

.loader h1 {
    font-size: 6vw;
    font-weight: 500;
    font-family: Gilroy-Bold;
    line-height: .9;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999;
}

.logo {
    cursor: pointer;
    width: 6vw;
}

.contactBtn {
    position: relative;
    width: 12vw;
    background: var(--lwhite);
    padding: 1.1vw 1vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.23vw;
    font-weight: 700;
    letter-spacing: .01px;
}

.heroContainer{
    width: 100%;
    height: 200vh;
    position: sticky;
    top: 0;
    left: 0;
}


.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    clip-path: circle(var(--clip) at 50% 50%);
}

.hero h1{
    position: relative;
}

.heroWelcome {
    font-size: 2vw;
    font-weight: 100;
    top: -20%;   
    font-family: Tenuity;
    letter-spacing: 5px;
}

.heroText{
    font-size: 6vw;
    line-height: 1.2;
    font-family: Gilroy-Bold;
    color: transparent;
    letter-spacing: 5px;
    -webkit-text-stroke: 2px var(--white);
}

.heroMarquee {
    position: relative;
    width: 100%;
    height: fit-content;
    white-space: nowrap;
    transition: all linear 1s;
}

.heroMarquee span{
    -webkit-text-stroke: 2px var(--lwhite);
    opacity: .8;
}

.marqueeSlide{
    width: fit-content;
}

.heroSlideWrapper{
    gap: 1vw;
}

.heroSlide{
    width: fit-content;
}

.marqueeLightContainer{
    position: absolute;
    width: 3%;
    height: 100%;
    background: var(--marqueeLight);
    box-shadow: 0 0 60px var(--marqueeLight);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    overflow: hidden;
    display: flex;
    z-index: -1;
}

.marqueeLight{
    position: relative;
    background: var(--marqueeLight);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 60px var(--marqueeLight);
}

.heroScrollDown{
    position: absolute;
    bottom: 12%;
    left: 0;
    rotate: 90deg;
    width: fit-content;
    height: 5%;
    display: flex;
    flex-direction: column;
    gap: .2vw;
}

.heroScrollDown p{
    padding: 0 1vw;
    font-size: 1vw;
    font-weight: 800;
}


.heroScrollBar{
    position: relative;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    background: var(--lwhite);
    overflow: hidden;
}

.heroScrollBarChild{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--white);
}

.explore{
    width: 100%;
    height: 100vh;
    background: red;
}